body {
  background-color: transparent; }

#header > *:not(.navbar) {
  position: relative; }

a {
  cursor: pointer; }

h1 small {
  font-size: 50%; }

p {
  font-size: 17px;
  font-weight: 200;
  margin: 0 0 25px; }

img.alignleft {
  float: left;
  margin-right: 25px; }
img.alignright {
  float: right;
  margin-left: 25px; }

ul {
  margin-bottom: 30px;
  font-size: 15px; }

.branding a.logo {
  float: left;
  display: inline-block; }
  .branding a.logo img {
    max-width: 100%;
    max-height: 75px;
    margin: 10px 0; }
.branding .title {
  display: block;
  float: left;
  padding: 15px 0; }
  .branding .title h1 {
    margin: 0; }

#navbar {
  background-color: #fff;
  z-index: 10;
  position: relative; }

.header-menu {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: -15px; }

.row.post h3 {
  margin-top: 5px; }

article {
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  border-color: #eee; }

.peep-hole {
  color: #ddd;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background: transparent;
  color: #666;
  height: 115px; }

#main {
  min-height: 400px;
  padding: 30px 0;
  background-size: cover;
  background-position-x: center;
  background-position-y: center; }

/** BOOTSTRAP STYLES **/
.container-fluid {
  padding: 0; }

.container {
  position: relative;
  z-index: 1;
  max-width: 1200px; }

.current_page_item > a {
  color: white;
  background-color: #428bca; }
  .current_page_item > a:hover {
    color: #428bca; }

.thumbnail {
  border-radius: 4px;
  border: none;
  padding: 0;
  overflow: hidden;
  max-height: 200px;
  display: block;
  background-position-y: 50%;
  background-position-x: center;
  background-size: cover; }
  .thumbnail.tall {
    height: 250px;
    max-height: inherit; }

.page-header {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0; }

/** breadcrumbs **/
.breadcrumbs {
  list-style: none;
  margin-bottom: 40px;
  overflow: hidden;
  padding-left: 0; }
  .breadcrumbs li {
    float: left;
    margin-right: 10px; }
  .breadcrumbs .separator {
    font-weight: 700;
    color: #999; }

.stencil-widget > div {
  padding-bottom: 10px;
  margin-bottom: 25px; }

footer {
  background-color: #333;
  padding-top: 30px;
  color: #ddd; }
  footer ul {
    padding-left: 0;
    list-style: none; }
    footer ul li {
      border-bottom: 1px solid #555;
      padding: 10px 0; }
  footer #copyright {
    background-color: #222;
    padding: 15px 0; }
    footer #copyright p {
      margin-bottom: 0;
      font-weight: 300;
      font-size: 13px; }

/** SLIDER MENU **/
.navbar-collapse.slide-menu {
  position: absolute;
  top: 0;
  bottom: 0; }

#mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 100;
  display: none;
  border-bottom: 1px solid #ddd; }
  #mobile-header img {
    max-height: 48px; }
  #mobile-header .mobile-menu-trigger {
    min-width: 60px;
    position: absolute;
    right: 15px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    height: 100%; }
  #mobile-header .logo {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px; }

#mobile-menu {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  background-color: #fff;
  box-shadow: 1px 1px 20px 1px #333;
  overflow-y: scroll;
  font-size: 16px;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  #mobile-menu .nav {
    padding: 20px;
    max-height: 96%;
    overflow-y: auto; }
    #mobile-menu .nav li {
      margin-top: 0; }
    #mobile-menu .nav .open > a {
      background-color: transparent;
      font-weight: bold; }
    #mobile-menu .nav .current_page_item > a {
      background-color: transparent; }
    #mobile-menu .nav .dropdown-menu {
      position: relative;
      box-shadow: none;
      border: none;
      width: 100%;
      padding-left: 30px; }
      #mobile-menu .nav .dropdown-menu li a {
        border-bottom: none;
        font-size: 16px; }
  #mobile-menu a {
    border-radius: 0;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 0;
    color: #777;
    border-bottom: 1px solid #ddd; }
    #mobile-menu a:hover {
      background-color: transparent; }
  #mobile-menu.slide {
    width: 0px;
    opacity: .5;
    box-shadow: none; }

.mobile-menu-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  opacity: .3;
  display: none; }

.freeze-page {
  position: absolute;
  overflow: hidden; }

/** ADMIN STYLES **/
@media (max-width: 768px) {
  #mobile-header {
    display: block; }

  body {
    padding-top: 51px; }

  .admin-bar #wpadminbar {
    position: fixed;
    z-index: 1000 !important; }
  .admin-bar #mobile-menu {
    margin-top: 46px; }

  #navbar {
    display: none; }

  .navbar-inverse {
    border-left: none;
    border-right: none; }

  .branding a.logo img {
    max-height: 60px; }

  .header-menu.pull-right {
    float: none !important; } }
@media (max-width: 480px) {
  iframe {
    height: 320px; } }
